altair
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
PyMuPDF
pyparsing
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
rsa
six
smmap
streamlit
streamlit-option-menu
tenacity
toml
tornado
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3


